/* Start Clients */

.clients {
  margin-bottom: 150px;

  @media(max-width: $r-l) {
    margin-bottom: 100px;
  }

  @media(max-width: $r-xxsm) {
    margin-bottom: 50px;
  }

  &__title {
    margin-bottom: 35px;
  }

  &__wrapper {
    padding-bottom: 40px;
  }

  &__slide {
    display: flex;
    justify-content: space-between;

    @media(max-width: $r-md) {
      flex-direction: column;
    }

    @media(max-width: $r-xxsm) {
      padding-top: 15px;
    }
  }

  &__img {
    height: 370px;
    max-width: 510px;
    margin-right: 40px;
    object-fit: cover;
    object-position: center;

    @media(max-width: $r-md) {
      height: 210px;
      max-width: 100%;
      margin: 0 0 20px;
    }

    @media(max-width: $r-xxsm) {
      margin-top: 10px;
    }
  }

  &__arrow {
    &--prev {
      left: 25%;

      @media(max-width: $r-md) {
        left: auto;
        right: 20%;
      }

      @media(max-width: $r-xxsm) {
        top: -2px;
        right: 30%;
        bottom: auto;
      }
    }

    &--next {
      left: 30%;
      bottom: -2px;
      transform: rotate(180deg);

      @media(max-width: $r-md) {
        left: auto;
        right: 5%;
      }

      @media(max-width: $r-xxsm) {
        top: 0;
        bottom: auto;
      }
    }
  }

  &__description {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media(max-width: $r-md) {
      flex: 1 1 100%;
    }
  }

  &__subtitle {
    margin: 5px 0 30px;

    @media(max-width: $r-md) {
      flex: 1 1 100%;
      font-size: 22px;
    }

    @media(max-width: $r-xxsm) {
      font-size: 18px;
    }
  }

  &__text {
    @media(max-width: $r-md) {
      font-size: 16px;
    }
  }

  &__list {
    margin: 0 0 auto 50px;

    @media(max-width: $r-l) {
      margin-left: 0;
    }

    @media(max-width: $r-md) {
      margin-bottom: 60px;
    }
  }

  &__item {
    margin-bottom: 15px;
  }

  &__link {
    margin-bottom: 10px;
  }

  &:hover {
    svg path:last-child {
      fill: #303030;
      stroke: #303030;
    }
  }
}


/* End Clients */