/* Start tariff */

.tariff {
  margin-bottom: 150px;

  @media(max-width: $r-l) {
    margin-bottom: 100px;
  }

  &__inner {
    display: flex;
    margin-bottom: 150px;

    @media(max-width: $r-l) {
      flex-direction: column;
      margin-bottom: 100px;
    }
  }

  &__info {
    padding-right: 90px;
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;

    @media(max-width: $r-l) {
      padding-right: 0;
      flex: 1 1 100%;
    }
  }

  &__tabs {
    margin-bottom: 110px;
  }

  &__slider {
    max-width: 510px;
    height: 210px;
    margin-bottom: 100px;
    padding-bottom: 10px;
    position: relative;
    z-index: 5;

    @media(max-width: $r-l) {
      max-width: 100%;
      margin-bottom: 50px;
      overflow: hidden;
    }
  }

  &__wrapper {
    display: flex;
  }

  &__slide {
    flex: 1 0 100%;
    display: flex;
    justify-content: space-between;
  }

  &__slide-img {
    object-fit: cover;
    max-width: calc(235 / 510 * 100%);
    width: 100%;
  }

  &__slide-text {
    flex: 0 1 calc(235 / 510 * 100%);
  }

  &__arrow {

    @media(max-width: $r-sm) {
     display: none;
    }

    &--prev {
      right: 35%;
    }

    &--next {
      transform: rotate(180deg);
      right: 25%;
      bottom: -2px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media(max-width: $r-l) {
      margin-bottom: 50px;
    }
  }

  &__item {
    flex: 0 1 calc(235 / 510 * 100%);
    margin-bottom: 20px;
  }

  &__subtitle {
    margin: 0 0 5px;
  }

  &__describe {
    flex: 0 1 50%;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media(max-width: $r-l) {
      flex-direction: row;
    }

    @media(max-width: $r-sm) {
      flex-direction: column;
    }
  }

  &__about {
    margin-bottom: 20px;

    @media(max-width: $r-l) {
      align-self: center;
      margin-right: 50px;
    }

    @media(max-width: $r-sm) {
      text-align: center;
      margin-right: 0;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @media(max-width: $r-l) {
      width: 50%;
    }

    @media(max-width: $r-sm) {
      width: 100%;
    }
  }

  &__banner {
    height: 500px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media(max-width: $r-sm) {
      max-height: 300px;
    }
  }

  &__quote {
    max-width: 680px;
    text-align: center;
    font-size: 42px;
    color: #fff;

    @media(max-width: $r-sm) {
      font-size: 30px;
    }
  }
}

//swiper-pagination
.swiper-pagination {
  width: 100%;
  margin-bottom: 50px;
  position: relative;
  text-align: left;
}

.swiper-pagination-bullet {
  width: 100%;
  margin-right: 40px;
  display: initial;
  border-radius: 0;
  background-color: transparent;
  opacity: 1;
  font-size: 18px;
  line-height: 1.3;
  color: $black;
  transition: all 0.3s ease 0s;
  position: relative;
  outline: transparent;

  &:focus {
    &::after {
      width: 100%;
    }
  }

  &:hover {
    color: $olive;
  }

  &::before {
    content: 'продажа';
  }

  &:nth-child(2)::before {
    content: 'закрепление';
  }

  &:nth-child(3)::before {
    content: 'ограничения';
  }

  &:after {
    content: '';
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    border-radius: 4px 4px 0 0;
    background-color: $olive;
    opacity: 0.2;
    transition: width 0.3s ease 0s;
  }
}

.swiper-pagination-bullet-active {
  border-bottom: 1px solid $olive;
}

/* End tariff */