/* Start Button */
.button {
  font-size: 18px;
  display: inline-block;
  padding-left: 50px;
  position: relative;
  transition: all 0.3s ease 0s;
  outline: transparent;

  @media(max-width: $r-sm) {
    font-size: 20px;
  }

  @media(max-width: $r-xxsm) {
    font-size: 14px;
  }

  &:focus svg {
    transform: scale(0.9);
  }

  &:hover {
    svg path {
      fill: $olive;
    }

    svg path:last-child {
      transform: translateY(-20px) translateX(20px) rotate(25deg);
      fill: #fff;
      stroke: #fff;
    }
  }

  &:active {
    color: $black;
    text-shadow: 0px 0px 5px #fff;
  }

  svg {
    position: absolute;
    left: 0;
    stroke: #fff;
    bottom: -15px;
    transition: all 0.3s;

    @media(max-width: $r-sm) {
      width: 60px;
      height: 60px;
      left: 10px;
      bottom: -10px;
    }
  }

  svg path {
    transition: all 0.3s ease 0s;
  }

  span {
    position: relative;
  }
}

/* End Button */